section {
 margin-top: 25px;
 margin-bottom: 25px;
}

h5 {
    height: 10px;
}

section#dr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section#ad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
section#uo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
section#ma {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.toolBarDr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.toolBarDr a{
    margin: 10px;
}

.toolBarAd {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.toolBarAd a{
    margin: 10px;
}

.toolBarUo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.toolBarUo a{
    margin: 10px;
}

.toolBarMa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.toolBarMa a{
    margin: 10px;
}

.carousel {
    background: white;
    border-style: groove;
    border-radius: 10px;
    width: 100%;
    min-height: 255px;
  }
  
  .carousel-cell {
    height: 240px;
    min-height: 140px;
    width: 22%;
    min-width: 220px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 3px;
    background: rgb(241, 240, 240);
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  

.carousel-cell img {
    margin-top: 3%;
    width: 40%;
    border: 0;
    object-fit: cover;

}

.carousel-cell p {
    font-size: 14px;
    margin-top: 11px;
    margin-bottom: 12px;
    margin-left: 10px;
    line-height: 120%;
    margin-right: 10px;
}

.carousel-cell p.adress {
    font-size: 14px;
    margin-top: -25px;
    margin-bottom: 5px;
    margin-left: 10px;
    line-height: 100%;
    margin-right: 10px;
}

 .nothing {
    width: 100%;
    text-align: center;
}

.carousel input {
    display: none;
}

.carousel input:checked + .carousel-cell{
    border-style: solid;
    background-color: rgb(188, 184, 184);
    border-right: 1px;
    border-left: 1px;
    border-width: 2px;
}

.trList:hover {
    cursor: pointer;
}