.carousel {
    background: white;
    border-style: groove;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    min-height: 208px;
  }
  
  .carousel-cell {
    height: 200px;
    min-height: 100px;
    width: 22%;
    min-width: 200px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 3px;
    background: rgb(233, 233, 233);
    border-radius: 20px;
    display: flex;
    
    align-items: center;
    text-align: center;
  }
  

.carousel-cell img {
    margin-top: 3%;
    width: 40%;
    border: 0;
    object-fit: cover;

}

.carousel-cell p {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

 .nothing {
    width: 100%;
    text-align: center;
}

.carousel input {
    display: none;
}

.carousel input:checked + .carousel-cell{
    border-style: solid;
    background-color: rgb(207, 207, 207);
    border-right: 1px;
    border-left: 1px;
    border-width: 2px;
}